<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/layout::main-fragment(
        ~{::title},
        ~{:: #others-static-ressource},
        ~{:: #main-content},
        ~{:: #others-js}
      )}">

<title>Transaction Manager</title>

<th:block id="others-static-ressource">

    <style>
        .bg-dark {
            background-color: #222;
            color: #fff !important;
        }
        .bg-dark li a{
            color: #fff !important;
        }
        .bg-dark li a.active {
            color: #3b7ddd !important;
            background-color: #222 !important;
        }
    </style>

</th:block>

<th:block id="others-js">
    <script>
        $(document).ready(function() {
            $('.show-motif-rejet').click(function(e) {
                e.preventDefault();
                var message = '<p>' + $(e.currentTarget).attr('data-message') + '</p>';
                $('#motif-rejet-modal .body-content').html(message)
                $('#motif-rejet-modal').modal('show')
            })

            $('.restaurer-apurement-btn').click(function(e) {
                e.preventDefault();
                if(confirm("Vous êtes sur le point de restaurer cette apurer. Etes-vous sure de vouloir poursuivre ?")) {
                    const element = $(e.currentTarget);
                    const tr = element.attr('data-parent-id');
                    $.ajax({
                        url: element.attr('href'),
                        type: 'POST',
                        dataType: 'JSON',
                        success: function(response) {
                            if (response.error) {
                                showNotif(response.message, "warning", 5000);
                            } else {
                                showNotif("Apurement restauré avec succès !!!", "info", 2000);
                                $('#' + tr).fadeOut(400);
                            }
                        },
                        error: function() {
                            showNotif("Une erreur est survenue ! Vérifier votre accès au serveur si le problème persite contactez votre fournisseur.", "warning", 5000);
                        }
                    });
                }
            })

            $('.annuler-definitivement-transaction').click(function(e) {
                e.preventDefault();
                if(confirm("Cette action est irreversible souhaitez vous poursuivre ?")) {
                    const element = $(e.currentTarget);
                    const tr = element.attr('data-parent-id');
                    $.ajax({
                        url: element.attr('href'),
                        type: 'POST',
                        dataType: 'JSON',
                        success: function(response) {
                            if (response.error) {
                                showNotif(response.message, "warning", 5000);
                            } else {
                                showNotif("Transation définitivement annulée !!!", "info", 2000);
                                $('#' + tr).fadeOut(400);
                            }
                        },
                        error: function() {
                            showNotif("Une erreur est survenue ! Vérifier votre accès au serveur si le problème persite contactez votre fournisseur.", "warning", 5000);
                        }
                    });
                }
            })

            $('form.form-rejeter-apurement').submit(function(e){
                e.preventDefault();
                const form = $(e.currentTarget);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    dataType: 'JSON',
                    data: form.serialize(),
                    success: function(response) {
                        if (response.error) {
                            showNotif(response.message, "danger", 5000);
                        } else {
                            showNotif("Apurement rejeté !!!", "info", 3000);
                            $('#' + form.attr('data-parent-id')).fadeOut(400);
                            form.parent().parent().modal("hide");
                        }
                    },
                    error: function() {
                        showNotif("Une erreur est survenue ! Vérifier votre accès au serveur si le problème persite contactez votre fournisseur.", "warning", 5000);
                    }
                })
            })

            $('.add-date-effective-form').each(function() {
                var form = $(this);
                form.on("submit", function(event){
                    event.preventDefault();
                    var elt = $(this);
                    var data = elt.data("ref")
                    var date = elt.find('input').val()
                    $.ajax({
                        url: "/add-apurement-effective-date/" + data + "/" + date,
                        type: "GET",
                        dataType: "JSON",
                        beforeSend: function() {
                            showNotif("Traitement en cours !", "info");
                        },
                        success: function(response) {
                            elt.find(".loader").html("")
                            if (response.isChanged) {
                                showNotif("Dossier transmis à l'agence pour ajouter les fichiers d'apurements !", "success", 4000);
                                $("#ligne" + data).fadeOut(400).remove();
                            }else {
                                alert(response.errorMessage)
                            }
                            $("#modal-transmettre-pour-apurement-" + data).modal('hide')
                        }
                    })
                })
            })
        });
    </script>
    <script>
    function toggleInputDisplay(checkbox) {
        var inputId =checkbox.id);
                console.log(inputId + ', ========================\\\ ' + inputId )

        let input = document.getElementById(inputId);
        if (!checkbox.checked) {
            input.style.display = 'block';
            input.setAttribute("required", true);
            input.required = true;
        } else {
             input.removeAttribute("required");
             input.required = false;
             input.value = "";
            input.style.display = 'none';
        }
    }



    </script>
    <script>
  // Get the "select all" checkbox element
  let selectAllCheckbox = document.getElementById("select-all");

  selectAllCheckbox.addEventListener("click", function() {
    // Get all other checkboxes on the page
    let checkboxes = document.querySelectorAll('input[type="checkbox"]:not(#select-all)');

    // Set the "checked" property of all other checkboxes to the same value as the "select all" checkbox
    checkboxes.forEach(function(checkbox) {
      checkbox.checked = selectAllCheckbox.checked;
      //toggleInputDisplay(checkbox);
    });
  });


    </script>


    <script>
  // Get references to the checkboxes and the button
    let checkboxes = document.querySelectorAll('input[type="checkbox"]');
  const button = document.getElementById('select-multiple');

  // Function to check if any checkbox is checked
  function anyCheckboxChecked() {
    for (let i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        return true;
      }
    }
    return false;
  }

  // Function to handle checkbox changes
  function handleCheckboxChange() {
    if (anyCheckboxChecked()) {
      button.disabled = false; // Enable the button
    } else {
      button.disabled = true; // Disable the button
    }
  }

  // Add event listeners to checkboxes
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', handleCheckboxChange);
  });


    </script>
    <script>
   $(document).ready(function() {
  $('#select-multiple').click(function(e) {
    e.preventDefault();

    // Check if all selected checkboxes have the same value
    var selectedValues = [];
    $('input[type="checkbox"]:checked').each(function() {
      selectedValues.push($(this).val());
    });

    if (selectedValues.length === 0) {
      // No checkboxes selected
      alert('Please select at least one checkbox.');
    } else if (selectedValues.every(function(value) {
      return value === selectedValues[0]&& $('[data-status="-111"]').length > 0 ;
    })) {
      // All selected checkboxes have the same value
      $('#modal-transmettre-date-debit').modal('show');
    } else {
      // Selected checkboxes have different values
      $('#coloredModalDanger').modal('show');
    }
  });
});


    </script>

    <script>
 document.getElementById("myForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent form submission

    // Retrieve the selected checkbox data
    var datasCheck = [];
    var checkboxes = document.querySelectorAll('input[type="checkbox"]:not(#select-all)');
    checkboxes.forEach(function(checkbox) {
        if (checkbox.checked) {
            datasCheck.push(checkbox.id);
        }
    });

    var dateValeur = document.querySelector('input[name="dateeffctive"]').value;

    // Construct the 'selectedData' object
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'transactions');
    hiddenInput.setAttribute('value', JSON.stringify(datasCheck));
    this.appendChild(hiddenInput);
    var checkedValue = hiddenInput.value;

    var selectedData = {
        dateValeur: dateValeur,
        transactions: checkedValue
    };

    // Use the 'selectedData' object as needed (e.g., send it to the server)

    // Proceed with form submission if necessary
    this.submit();
});


    </script>
    <script>
    function loadModal(id) {
        var modalId = '#confirmModal' + id;
        $(modalId).modal('show');
    }
</script>
    <script>
    function loadModalMotif(id) {
        var modalId = '#confirmModalMotif' + id;
        $(modalId).modal('show');
    }
</script>
</th:block>

<div id="main-content">

    <div class="mb-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or
                            #authorization.expression('hasRole(''ROLE_TREASURY_OPS'')')
                    or #authorization.expression('hasRole(''ROLE_TRADE_DESK'')')}">
        <div class="d-flex">
            <div style="text-align: right; margin-right: 10px;" class="mr-3">

<!--                <a th:if="${exportUri != null}" th:href="@{${exportUri}}" class="btn btn-success mr-3">-->
<!--                    <i class="fas fa-file-excel"></i> Exporter sur excel-->
<!--                </a>-->
            </div>
            <form th:if="${searchUri != null}" th:action="@{${searchUri}}" method="get" class="form-inline ml-5">
                <div class="input-group">
                    <input type="text" name="reference" class="form-control" placeholder="Entrer la reference pour recherher..." required>
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </form>
        </div>

        <div class="modal fade" id="miseDemeure" role="dialog" aria-modal="true" tabindex="-1">
            <div class="modal-dialog modal-md" role="document">
                <form th:if="${importFile != null}" class="modal-content" id="apurementForm" th:action="@{/rest-apurements/mise-demeure}" enctype="multipart/form-data" th:object="${importFile}" method="post">

                    <div class="modal-body">
                        <div class="mb-3 mt-3">

                            <input type="hidden" th:field="*{banque}">
                            <div class="mb-3">
                                <label class="form-label">Selectionnez votre fichier excel (.xlsx)</label>
                                <input class="form-control" type="file" required th:field="*{file}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                        <a href="" class="btn btn-outline-secondary">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
        <input type="hidden" id="resultShow" data-bs-target="#miseDemeureResults" data-bs-toggle="modal">
        <div class="modal fade" id="miseDemeureResults" role="dialog" aria-modal="true" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mises en demeure</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Date de debit Transaction Financiere</h5>
            <h6 class="card-subtitle text-muted"></h6>
            <button class="btn btn-primary right-button" disabled id="select-multiple" type="submit">Valider pour Debit</button>

        </div>
        <div class="card-body">
            <div>
                <table class="table table-striped table-responsive" style="width: 100%">
                    <thead>
                    <tr>
                        <th>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" id="select-all" type="checkbox">
                                <span class="form-check-label"></span>
                            </label>
                        </th>
                        <th title="Reference de la transaction" th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')') or #authorization.expression('hasRole(''ROLE_MACKER'')')}">Ref Trans</th>
                        <th>Client</th>
                        <th>Beneficiaire</th>
                        <th>Dévise</th>
                        <th>Montant</th>
                        <th title="Date effective de débit">Date Eff deb</th>
                        <th title="Date effective de creation">Date transmission</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ap, s : ${apurements}" th:id="'ligne' + ${ap.id}" class="">
                        <td>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" th:id="${ap.id}" th:data-status="${ap.status}" th:value="${ap.transaction.devise.code}" type="checkbox">
                                <span class="form-check-label"></span>
                            </label>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')') or #authorization.expression('hasRole(''ROLE_AGENCE'')') or #authorization.expression('hasRole(''ROLE_MACKER'')')}">
                            <span th:text="${ap.transaction.reference}"></span>
                        </td>
                        <td th:text="${ap.transaction.client.denomination}"></td>
                        <td th:text="${ap.transaction.beneficiaire.name}"></td>
                        <td th:text="${ap.transaction.devise.code}"></td>
                        <td class="montant_format" th:text="${ap.transaction.montant}"></td>
                        <td th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')') or #authorization.expression('hasRole(''ROLE_AGENCE'')') or #authorization.expression('hasRole(''ROLE_MACKER'')')}">
                            <span th:text="${#dates.format(ap.dateEffective, 'dd-MM-yyyy')}"></span>
                        </td>
                        <td th:text="${#dates.format(ap.dateCreated, 'dd-MM-yyyy')}"></td>
                        <td>
                <span th:if="${!ap.isRejected}" th:class="${ap.status == -111} ? 'badge bg-info' : 'badge bg-success'">
                    <span th:text="${ap.status == -111} ? 'En cours' : 'Termine'"></span>
                </span>
                            <span th:if="${ap.isRejected}" class="badge bg-info">Rejete</span>
                        </td>
                        <td>
                            <div class="d-inline">
                                <a th:if="${!ap.isRejected and ap.status == -111 }" href="#" class="btn btn-danger btn-sm" title="Annuler la transaction" data-toggle="modal"   th:onclick="'loadModal(\'' + ${ap.id} + '\')'">
                                    <i class="fas fa-trash"></i>
                                </a>

                                <div class="modal fade" th:id="'confirmModal' + ${ap.id}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="get" th:action="@{/annuler/trans/financiere/}">

                                            <div class="modal-body">
                                                Are you sure you want to cancel this transaction ? Please fill motif
                                                <br>
                                                <input type="text" name="motif" placeholder="Motif of reject" required class="form-control">

                                            </div>
                                                <input type="text" hidden name="id" th:value="${ap.id}">
                                            <div class="modal-footer">
                                                <a type="button" href="" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                                                <button type="submit" class="btn btn-danger">Confirm</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="d-inline" th:if="${ap.isRejected}" >
                                <a th:if="${ap.isRejected}" href="#" class="btn btn-primary btn-sm" title="Voir le motif de renvoie" data-toggle="modal"   th:onclick="'loadModalMotif(\'' + ${ap.id} + '\')'">
                                    <i class="fas fa-eye"></i>
                                </a>

                                <div class="modal fade" th:id="'confirmModalMotif' + ${ap.id}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmModalLabel1">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="get" th:action="@{/annuler/trans/financiere/}">

                                                <div class="modal-body">

                                                    <h2 th:text="${ap.motifReject}"></h2>

                                                </div>
                                                <input type="text" hidden name="id" th:value="${ap.id}">
                                                <div class="modal-footer">
                                                    <a type="button" href="" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav id="pagination" th:if="${nbPages != null and nbPages > 1}" th:data-pages="${nbPages}" th:data-uri="${uri}" th:data-current="${currentPage}" aria-label="Page navigation example">
                    <div th:replace="pagination::pagination"></div>
                </nav>

                <!-- Modal -->




                <div class="modal modal-colored modal-danger fade" id="coloredModalDanger" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Ooops..... Une erreur s'est glissee</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body m-3">
                                <h5 class="modal-title">Les transactions selectionnees doivent etre initiees avec la meme devise Ou doivent avoir le statut En cours de date de debit.</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div data-ref="" class="modal fade" id="modal" role="dialog" aria-modal="true" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Détails apuremment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="tab tab-vertical">
                                    <ul class="nav nav-tabs bg-dark" role="tablist">
                                        <li class="nav-item" title="Fichiers manquants">
                                            <a class="nav-link active" id="fichiersManquant" href="#vertical-icon-tab-2" data-bs-toggle="tab" role="tab">
                                                <i class="align-middle" data-feather="file-minus"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item" title="Charger les fichiers manquants">
                                            <a class="nav-link" id="showFileForms" href="#vertical-icon-tab-2" data-bs-toggle="tab" role="tab">
                                                <i class="align-middle" data-feather="file-plus"></i>
                                            </a>
                                        </li>
                                        <li th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')
                or #authorization.expression('hasRole(''ROLE_TRADE_DESK'')') or #authorization.expression('hasRole(''ROLE_MACKER'')') }" class="nav-item" title="Fichiers envoyés">
                                            <a class="nav-link" id="filesSend" href="#vertical-icon-tab-2" data-bs-toggle="tab" role="tab">
                                                <i class="align-middle" data-feather="file-text"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="vertical-icon-tab-2" role="tabpanel">
                                            <h4 class="tab-title">Liste des fichiers manquants</h4>
                                            <div class="mb-3 mt-4">
                                                <ul id="waiting-files-list">

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <a th:if="${#authorization.expression('hasRole(''ROLE_TRADE_DESK'')') or #authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}" href="" class="btn btn-success" id="validerApurement">Valider l'apurement</a>
                                <button class="btn btn-danger btn-sm" data-bs-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ref="" class="modal fade" id="modal-transmettre-date-debit" role="dialog" aria-modal="true" tabindex="-1">
                    <div class="modal-dialog modal-sm" role="document">
                        <form class="modal-content" method="get" action="/save/date-debit/transFin" data-ref="" id="myForm">
                            <div class="modal-header">
                                <h5 class="modal-title">Marquer la date Effective</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-info">
                                    <p>Cette transaction a été validée par le trésorier ! Entrer la date effective de débit </p>
                                </div>
                                <div class="form-group">
                                    <input type="date" required class="form-control" name="dateeffctive" id="dateeffective" />
                                </div>
                                <div class="loader"></div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default btn-sm" data-bs-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-success btn-sm">Enregistrer la date </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>