<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <h3 th:if="${session.banque != null}" th:text="${session.banque.name}"></h3>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">

            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" data-feather="bell"></i>
                        <span class="indicator" id="nbreNotif"></span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                    <div id="lastNotif" class="list-group">

                    </div>
                    <div class="dropdown-menu-footer">
                        <a th:href="@{/getAllnotification}" class="text-muted">Voir toutes</a>
                    </div>
                </div>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a  class="nav-link" title="Nom du connecte">
                    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                </a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-icon pe-md-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    <div th:if="${#authentication.getPrincipal().getAvatar() != null}">
                        <img th:src="@{/upload/avatar/{data}(data=${#authentication.getPrincipal().getAvatar()})}"
                             src="../static/img/avatars/avatar.jpg" width="32"
                             height="72" class="avatar rounded-circle" alt="Avatar">
                    </div>
                    <div th:unless="${#authentication.getPrincipal().getAvatar() != null}">
                        <img th:src="@{/img/avatars/avatar.png}"
                             src="../static/img/avatars/avatar.jpg" width="32"
                             height="72" class="avatar rounded-circle" alt="Avatar">
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" th:href="@{/getUserProfile}"><i class="align-middle me-1"
                                                                             data-feather="user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<nav th:fragment="shortcup" class="navbar navbar-expand navbar-light navbar-bg shortcup">
    <ul class="navbar-nav">
        <th:block th:if="${#authorization.expression('hasRole(''ROLE_CLIENT'')')}">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="transactionsDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-money-bill"></i>
                <span>Transactions</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="transactionsDropdown">
                <li class="dropdown-item">
                    <a th:href="@{/transaction/new/normal}" class="nav-link">Nouvelle transaction financiaire</a>
                </li>
                <li class="dropdown-item">
                    <a th:href="@{/transaction/new/domiciliation}" class="nav-link">Nouvelle transaction commerciale</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a th:href="@{/domiciliations/new}" class="nav-link" title="Nouvelle domiciliation">
                <i class="fas fa-brush"></i>
                <span>Domiciliation</span>
            </a>
        </li>
        </th:block>
        <th:block th:if="${#authorization.expression('hasRole(''ROLE_CLIENT'')')}">
            <li class="nav-item">
                <a th:href="@{/client/{id}/mes-beneficiaires(id=${#authentication.getPrincipal().getClient().getId()})}"
                   class="nav-link" title="Nouveau bénéficiaire">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Bénéficiaire</span>
                </a>
            </li>
        </th:block>
        <th:block th:if="${#authorization.expression('hasRole(''ROLE_CHECKER_TO'')')
            or #authorization.expression('hasRole(''ROLE_MAKER_TO'')')
             or #authorization.expression('hasRole(''ROLE_CHECKER'')') or #authorization.expression('hasRole(''ROLE_MACKER'')')}">
            <li class="nav-item">
                <a th:href="@{/clients}" class="nav-link" title="Nouveau client">
                    <i class="fas fa-user-shield"></i>
                    <span>Client</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/import-clients}" class="nav-link" title="Importer des clients">
                    <i class="fas fa-upload"></i>
                    <span>Importer</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/type-transactions}" class="nav-link" title="Gestion des types de transaction">
                    <i class="fas fa-share"></i>
                    <span>Type</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/type-fichiers}" class="nav-link" title="Gestion des fichiers">
                    <i class="fas fa-file-signature"></i>
                    <span>Fichiers</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/send-mise-en-demeure}" class="nav-link" title="Envoyer des Mises en demeure">
                    <i class="fas fa-envelope-open-text"></i>
                    <span>Mails</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/add-user}" class="nav-link" title="Nouvel utilisateur">
                    <i class="fas fa-users-cog"></i>
                    <span>Users</span>
                </a>
            </li>
        </th:block>
    </ul>
</nav>

<nav th:fragment="sidebar" id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
                                <span class="sidebar-brand-text align-middle">
                                    Veyuz App
                                </span>
            <svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none"
                 stroke="#FFFFFF" stroke-width="1.5"
                 stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
                <path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
                <path d="M20 12L12 16L4 12"></path>
                <path d="M20 16L12 20L4 16"></path>
            </svg>
        </a>

        <div class="sidebar-user">
            <div class="d-flex justify-content-center">
                <div class="flex-shrink-0">
                    <div th:if="${session.banque != null and session.banque.logo != null}">
                        <img th:src="@{/upload/banque_logo/{img}(img=${session.banque.logo})}" alt="Avatar"
                             class="avatar img-fluid rounded" width="100" height="100"/>
                    </div>
                    <div th:unless="${session.banque != null and session.banque.logo != null}">
                        <img th:src="@{/img/avatars/avatar.png}" alt="Avatar"
                             class="avatar img-fluid rounded" width="100" height="100"/>
                    </div>
                </div>
                <div class="flex-grow-1 ps-2">
                    <span th:if="${session.banque != null}" th:text="${session.banque.sigle}"></span>
                    <span th:unless="${session.banque != null}">Veyuz user</span>
                </div>
            </div>
        </div>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Menu
            </li>

            <li class='sidebar-item' th:classappend="${#strings.equals(dash, 'dash')} ? active : ''">
                <a class="sidebar-link" th:href="@{/dashboard}">
                    <i class="align-middle" data-feather="home"></i> <span class="align-middle">Tableau de bord</span>
                </a>
            </li>

            <li class="sidebar-item" th:classappend="${#strings.equals(dash, 'transaction')} ? active : ''">
                <a data-bs-target="#transactions" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Transactions</span>
                </a>
                <ul id="transactions" class="sidebar-dropdown list-unstyled collapse "
                    th:classappend="${#strings.equals(dash, 'transaction')} ? show : ''" data-bs-parent="#sidebar">
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'all')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions}">Toutes</a></li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'waiting')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='waiting')}">En attente</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'maker')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='maker')}">Transmises Trade</a></li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'checked')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='checked')}">Validation Trade</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'topsM')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='topsM')}">Transmises TOps</a></li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'topsC')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='topsC')}">Validation TOps</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'treasury')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='treasury')}">Treasury</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'sendback')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='sendback')}">Renvoyées</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'rejected')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='rejected')}">Rejetées</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'validated')} ? active : ''"><a
                            class="sidebar-link" th:href="@{/transactions/{status}(status='validated')}">Validées</a>
                    </li>
                </ul>
            </li>

<!--            <li class="sidebar-item" th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')-->
<!--                or #authorization.expression('hasRole(''ROLE_AGENCE'')') or #authorization.expression('hasRole(''ROLE_MACKER'')') }" th:classappend="${#strings.equals(dash, 'apurement')} ? active : ''">-->
<!--                <a class="sidebar-link" th:href="@{/appurements}">-->
<!--                    <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Apurement</span>-->
<!--                </a>-->
<!--            </li>-->

            <li class="sidebar-item" th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')
                or #authorization.expression('hasRole(''ROLE_AGENCE'')') or #authorization.expression('hasRole(''ROLE_MACKER'')') }" th:classappend="${#strings.equals(dash, 'apurments')} ? active : ''">
                <a data-bs-target="#apurments" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="compass"></i> <span class="align-middle">Apurement</span>
                </a>
                <ul id="apurments" class="sidebar-dropdown list-unstyled collapse "
                    th:classappend="${#strings.equals(dash, 'apurments')} ? show : ''" data-bs-parent="#sidebar">
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'apwd')} ? active : ''">
                        <a class="sidebar-link" th:href="@{/apurments-treasury-approved}">Validées par la trésorerie</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'apw')} ? active : ''">
                        <a class="sidebar-link" th:href="@{/apurments}">En attente d'apurement</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'apa')} ? active : ''">
                        <a class="sidebar-link" th:href="@{/apurments-all}">Apurées</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'apr')} ? active : ''">
                        <a class="sidebar-link" th:href="@{/apurments-rejetes}">Rejetés</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'ape')} ? active : ''">
                        <a class="sidebar-link" th:href="@{/apurments-expired}">Expirés / Sanctions</a>
                    </li>
                    <li class="sidebar-item" th:classappend="${#strings.equals(das, 'apan')} ? active : ''">
                        <a class="sidebar-link" th:href="@{/apurments-annules}">Annulés</a>
                    </li>.
                </ul>
            </li>

            <li class="sibebar-item" th:classappend="${#strings.equals(dash, 'domiciliation')} ? active : ''">
                <a class="sidebar-link" th:href="@{/domiciliations}">
                    <i class="align-middle" data-feather="corner-right-down"></i> <span class="align-middle">Domiciliations</span>
                </a>
            </li>

            <li class="sibebar-item" th:classappend="${#strings.equals(dash, 'beneficiaires')} ? active : ''">
                <a class="sidebar-link" th:href="@{/beneficiaires}">
                    <i class="align-middle" data-feather="corner-down-right"></i> <span class="align-middle">Beneficiaires</span>
                </a>
            </li>

            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="sidebar-item"
                th:classappend="${#strings.equals(dash, 'reporting')} ? active : ''">
                <a class="sidebar-link" th:href="@{/reporting}">
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Reporting</span>
                </a>
            </li>

            <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li class="sidebar-item" th:classappend="${#strings.equals(dash, 'client')} ? active : ''">
                    <a class="sidebar-link" th:href="@{/clients}">
                        <i class="align-middle" data-feather="users"></i> <span class="align-middle">Clients</span>
                    </a>
                </li>
            </th:block>

            <li class="sidebar-item" th:classappend="${#strings.equals(dash, 'params')} ? active : ''">
                <a class="sidebar-link" th:href="@{/parametres}">
                    <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Paramètre</span>
                </a>
            </li>
            <th:block th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}">
                <li class="sidebar-item" th:classappend="${#strings.equals(dash, 'admin')} ? active : ''">
                    <a class="sidebar-link" th:href="@{/admin-users-list}">
                        <i class="align-middle" data-feather="user"></i> <span
                            class="align-middle">Agences/Admin</span>
                    </a>
                </li>
            </th:block>
            <th:block th:if="${#authorization.expression('hasRole(''ROLE_SUPERADMIN'')')}">
                <li class="sidebar-item" th:classappend="${#strings.equals(agence, 'agence')} ? active : ''">
                    <a class="sidebar-link" th:href="@{/agency/all}">
                        <i class="align-middle" data-feather="activity"></i> <span
                            class="align-middle">Agences</span>
                    </a>
                </li>
            </th:block>
            <th:block th:unless="${#authorization.expression('hasRole(''ROLE_CLIENT'')')}">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="">
                        <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Support</span>
                    </a>
                </li>
            </th:block>
            <li class="sidebar-item">
                <a class="sidebar-link" href="">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Aide</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>