<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/layout::main-fragment(
        ~{::title},
        ~{:: #others-static-ressource},
        ~{:: #main-content},
        ~{:: #others-js}
      )}">

<title>Gestion des Agences</title>

<th:block id="others-static-ressource"></th:block>

<div id="main-content">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Gestion Agences</h5>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Label</th>
                                    <th>Responsable</th>
                                    <th>Addresse</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${agences!=null}" th:each="a, state : ${agences}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${a.label}"></td>
                                    <td>
                                        <ul>
                                            <li th:each="appUser : ${a.appUsers}">
                                                <span th:text="${appUser.userName}"></span>
                                            </li>
                                        </ul>
                                    </td>                                    <td th:text="${a.address}"></td>
                                    <td th:text="${a.phone}"></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-info dropdown-toggle"
                                                    data-bs-toggle="dropdown" type="button">
                                                Select
                                            </button>
                                        <div class="dropdown-menu" style="">
<!--                                            <a class="dropdown-item" th:href="@{/admin/edit-{id}/user(id=${u.id})}">Details</a>-->
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"  th:href="@{/agency/{id}(id=${a.id})}">Details</a>
                                            <a class="dropdown-item"  th:href="@{/agency/edit/{id}(id=${a.id})}">Edit</a>
                                            <a class="dropdown-item"  th:href="@{/agency/delete/{id}(id=${a.id})}">Delete</a>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>

        </div>
        <div class="col-md-5">
            <div class="card" th:if="${#authorization.expression('hasRole(''ROLE_CHECKER_TO'')')
            or #authorization.expression('hasRole(''ROLE_MAKER_TO'')')}">
                <div class="card-header">
                    <h5 class="card-title">Ajouter ou editer une agence</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <form th:object="${agence}" th:action="@{/agency}" th:if="${agence.id == null}" method="post">
                                    <input class="form-control" type="hidden" th:field="*{id}" required />
                                    <label for="label">Label:</label>
                                    <input class="form-control"  type="text" th:field="*{label}" required />
                                    <br />
                                    <label for="address">Address:</label>
                                    <input class="form-control"  type="text" th:field="*{address}"  required/>
                                    <br />
                                    <label for="phone">Phone:</label>
                                    <input class="form-control"  type="text" th:field="*{phone}" required/>
                                    <br>
                                    <label>Selectionner le responsable:</label>
                                    <select class="form-control form-select" th:field="*{appUsers}" required>
                                        <option value="">Selectionner un reponsable</option>
                                        <option th:each="b, state : ${users}" th:value="${b.id}" th:text="${b.userName}"></option>
                                    </select>
                                    <br />
                                    <label for="status">Status:</label>
                                    <input   type="checkbox" th:field="*{status}" />
                                    <br />
                                    <input class="form-control btn btn-info"  type="submit" value="Create" />
                                </form>

                                <form th:object="${agence}" th:action="@{/agency}" th:if="${agence.id != null}" method="post">
                                    <input class="form-control"  type="hidden" th:field="*{id}" />
                                    <label for="label">Label:</label>
                                    <input class="form-control"  type="text" th:field="*{label}" required />
                                    <br />
                                    <label for="address">Address:</label>
                                    <input class="form-control"  type="text" th:field="*{address}" required />
                                    <br />
                                    <label for="phone">Phone:</label>
                                    <input class="form-control"  type="text" th:field="*{phone}" required />
                                    <br />
                                    <label>Selectionner le responsable:</label>
                                    <select class="form-control form-select" th:field="*{appUsers}" required>
                                        <option value="">Selectionner un reponsable</option>
                                        <option th:each="b, state : ${users}" th:value="${b.id}" th:text="${b.userName}"></option>
                                    </select>
                                    <br>
                                    <label for="status">Status:</label>
                                    <input  type="checkbox" th:field="*{status}" />
                                    <br />
                                    <input class="form-control btn btn-secondary"  type="submit" value="Update" />

                                    <br>
                                    <br>
                                    <a th:href="@{/agency/all}"> Nouvelle agence</a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sizedModalLg" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Liste des transactions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <div id="transactions-benef" style="max-height: 400px;overflow:auto;">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block id="others-js">

    <script>
            $('.show-benef-transactions').on("click", function(e){
                e.preventDefault();
                $.ajax({
                    url: $(this).prop("href"),
                    type: "GET",
                    dataType: "JSON",
                    beforeSend: function() {
                        $("#transactions-benef").html('<div class="spinner-border text-secondary me-2" role="status"><span class="visually-hidden">Loading...</span></div>');
                        $("#sizedModalLg").modal('show');
                    },
                    success: function(response) {
                        if (!response.hasError) {
                            $("#transactions-benef").html(response.transactions);
                        }
                        else {
                            $("#transactions-benef").html(response.message);
                        }
                    },
                    error: function() {
                        $("#sizedModalLg").modal('hidde');
                    }
                })
            })
        </script>

</th:block>
</html>