<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/layout::main-fragment(
      ~{::title},
      ~{:: #others-static-ressource},
      ~{:: #main-content},
      ~{:: #others-js}
      )}">

<title>Domiciliation Manager</title>
<th:block id="others-static-ressource"></th:block>

<div id="main-content">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-message">
            <h4 class="alert-heading">Astuce</h4>
            <p>Vous trouverez ici la liste de toutes les domiciliations enregistrées</p>
        </div>
    </div>
    <div class="mb-3">
        <div style="text-align: right;">
            <a th:if="${#authorization.expression('hasRole(''ROLE_CHECKER_TO'')')
            or #authorization.expression('hasRole(''ROLE_MAKER_TO'')')
             or #authorization.expression('hasRole(''ROLE_CHECKER'')')}" title="Exporter sur excel" th:href="@{/{id}-export/domiciliations(id=${banque.id})}" class="btn btn-success">
                <i class="fas fa-file-excel" style="font-size: 1.4em;"></i>
                Exporter
            </a>
            <a th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')
            or #authorization.expression('hasRole(''ROLE_MACKER'')')}" th:href="@{/domiciliations/new}" class="btn btn-primary" title="Nouvelle domiciliation">
                <i class="fas fa-money-check"></i>
                Nouvelle
            </a>
<!--            <a th:unless="${client == null}" th:href="@{/client-{client_id}/domiciliations/new(client_id=${client.id})}" title="Nouvelle domiciliation" class="btn btn-primary">-->
<!--                <i class="fas fa-money-check"></i>-->
<!--                Nouvelle-->
<!--            </a>-->
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Toutes les domiciliations</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div th:replace="fragment/domiciliation-fragments::domiciliations">

                    </div>
                    <nav id="pagination" th:if="${nbPages != null and nbPages > 1 }" th:data-pages="${nbPages}"
                         th:data-uri="${uri}" th:data-current="${currentPage}" aria-label="Page navigation example">
                        <div th:replace="pagination::pagination"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="others-js">
    <script>
            $(document).ready(function () {

            })
            $("#domiciliation").on("change", function (e) {
                var elt = $(this);
                findDomiciliationInfo(elt);
            })

            function findDomiciliationInfo(elt) {
                var dm = $(elt).val();
                if (dm != "") {
                    $.ajax({
                        url: "/domiciliation-infos/" + dm,
                        type: "GET",
                        dataType: "JSON",
                        beforeSend: function () {

                        },
                        success: function (response) {
                            $("#typeDeTransactionV").val(response.domiciliation.typeDeTransaction.name);
                            $("#deviseV").val(response.devise.name);
                            $("#beneficiaireV").val(response.domiciliation.beneficiaire.name);

                            $("#typeDeTransaction").val(response.domiciliation.typeDeTransaction.id);
                            $("#devise").val(response.devise.id);
                            $("#beneficiaire").val(response.domiciliation.beneficiaire.id);
                            $("#montant").prop("max", response.domiciliation.montantRestant).prop("disabled", false);
                            $("#submitButton").prop("disabled", false);
                        },
                        error: function () {
                            $("#submitButton").prop("disabled", false);
                        }
                    })
                } else {
                    $("#typeDeTransactionV").val("");
                    $("#deviseV").val('');
                    $("#beneficiaireV").val('');

                    $("#typeDeTransaction").val('');
                    $("#devise").val('');
                    $("#beneficiaire").val('');
                    $("#montant").prop("max", '').prop("disabled", true);
                    $("#submitButton").prop("disabled", true);
                }
            }

            $("#transactionFor").on("submit", function (e) {
                e.preventDefault();
                ajaxSubmitFormTransaction();
            })

            function ajaxSubmitFormTransaction() {
                var form = $("#transactionForm")[0];
                var data = new FormData(form);
                $("#submitButton").prop("disabled", true);
                $.ajax({
                    type: $("#transactionForm").attr("method"),
                    url: $("#transactionForm").attr("action"),
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 1000000,
                    dataType: "JSON",
                    success: function (response) {
                        $("#submitButton").prop("disabled", false);
                        if (response.isSaved) {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function (jqXHR) {
                        alert("Erreur : " + jqXHR.responseText)
                    }
                })
            }

    </script>
</th:block>
</html>