<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/layout::main-fragment(
        ~{::title},
        ~{:: #others-static-ressource},
        ~{:: #main-content},
        ~{:: #others-js}
      )}">

    <title>Transaction Manager</title>
    <th:block id="others-static-ressource">
        <style>
            #details-transaction p b{
                text-align: left;
                color: rgb(0, 162, 232);
                float: right;
            }
            #details-transaction {
                border-right: solid 1px #ccc;
                padding-right: 25px;
            }
            #result{
                background-color: #000;
                color: #fff;
                padding: 10px 15px;
            }
        </style>
    </th:block>

    <div id="main-content">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Gestion des fichiers de transaction</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" id="details-transaction">
                        <div th:replace="fragment/transaction-fragments::details"></div>
                    </div>
                    <div class="col-md-6" th:if="${transaction.useManyDomiciliations == null or transaction.useManyDomiciliations == false or (transaction.useManyDomiciliations and not #lists.isEmpty(transaction.domiciliationTransactions))}">
                        <p th:if="${transaction.typeDeTransaction.type != null}">
                            Télécharger la lettre d'<a th:href="${lettreUri}" target="_blank">engagement ici</a> et ajoutez
                            là parmis les fichiers requis si celà est necessaire
                        </p>
                        <div th:replace="fragment/transaction-fragments::form-transaction-files">

                        </div>
                        <div id="result" class="mt-3"></div>
                    </div>
                    <div th:if="${transaction.useManyDomiciliations and #lists.isEmpty(transaction.domiciliationTransactions)}" class="col-md-6">
                        <h3>Cochez les domiciliations à utiliser</h3>
                        <hr>
                        <table class="table" id="domiciliations-table" th:data-montant-transaction="${transaction.montant}">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Reference domiciliation</th>
                                    <th>Devise</th>
                                    <th>Beneficiaire</th>
                                    <th>Montant Disponible</th>
                                    <th>Montant à débiter</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="d, i : ${domiciliations}"  th:id="'ligne-' + ${i.index}">
                                    <td>
                                        <input type="checkbox" value="" th:data-target="'form-' + ${i.index}" class="check-domiciliation">
                                    </td>
                                    <td th:utext="${d.reference}"></td>
                                    <td th:utext="${d.devise.name}"></td>
                                    <td th:utext="${d.beneficiaire.name}"></td>
                                    <td  class="montant_format" th:utext="${d.montantRestant}"></td>
                                    <td>
                                        <form action="/domiciliation-transaction" class="form-domiciliation-transaction" method="get" th:id="'form-' + ${i.index}">
                                            <input disabled="true" type="text" name="montant" class="form-control montant">
                                            <div>
                                                <div>
                                                    <div>
                                                        <input type="hidden" name="transactionId" th:value="${transaction.id}">
                                                        <input type="hidden" name="domiciliationId" th:value="${d.id}">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="6">
                                        <button type="button" id="domiciliations-save-btn" class="btn btn-primary">Enregistrer</button>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <th:block id="others-js">
        <script>
            $('.check-domiciliation').each(function(){
                $(this).on('click', function(e){
                    const target = "#" + e.currentTarget.dataset.target;
                    if ($(this).is(':checked')) {
                        $(target + ' .montant').attr('disabled', false)
                    } else {
                        $(target + ' .montant').val('').attr('disabled', true)
                    }
                })
            })

            $('#domiciliations-save-btn').on('click', function(el){
                const montant = parseFloat($('#domiciliations-table').data('montant-transaction'))
                let enterValues = 0;
                let hasError = false;
                $('.check-domiciliation').each(function(e){
                    const target = "#" + $(this).data('target');
                    if ($(this).is(':checked')) {
                        const newMont = parseFloat($(target + ' .montant').val());
                        if (newMont <= 0) {
                           hasError = true;
                        }else {
                            enterValues += newMont;
                        }
                    }
                })
                if (hasError) {
                    alert("Des erreurs figurent dans les montant saisis")
                }else {
                    setTimeout(function(){
                        if (montant == enterValues) {
                            submitDomiciliationTransactionForm();
                            setTimeout(function(){
                                window.location.reload();
                            }, 500)
                        }else {
                            alert("Les montants saisis ne correspondent pas au montant de la transaction");
                        }
                    }, 500)
                }
            })

            function submitDomiciliationTransactionForm() {
                $('form.form-domiciliation-transaction').each(function(e){
                    const form = $(this)
                    const montantInput = $(this).find('.form-control.montant')
                    if (montantInput.val() != "" && montantInput.val() > 0) {
                        $.ajax({
                            url: form.attr('action'),
                            type: 'GET',
                            dataType: 'JSON',
                            data: $(form).serialize(),
                            success: function(response) {

                            },
                            error: function() {
                                Alert("Une erreur est survenue !")
                            }
                        })
                    }
                })
            }

        </script>
        <script>
            $('.make-transaction-action").on("click", function(e){
                e.preventDefault();
                $.ajax({
                    url: $(this).prop("href"),
                    type: "GET",
                    success: function(e) {
                        if (e == true) {
                            window.refresh();
                        }
                    }
                });
            })
        </script>
        <script>

            $("#addFileButton").on("click", function(e){
                e.preventDefault();
                var elt = $(this);
                $.ajax({
                    url: $(elt).attr("href"),
                    type: "GET",
                    dataType: "JSON",
                    success: function(response) {
                        $("#foms-transaction-container").append(response.form);
                        $('.remove-file').on("click", function(){
                            $(this).parent().remove();
                        })
                    },
                    error: function() {
                        alert("Impossible de joindre le serveur ! erreur 500");
                    }
                });
            })
            $("#submitAllButton").on("click", function(e) {
                e.preventDefault();
                if(validateForm()===false){
                showLoader();
                $("#result").html("");
                $("#fileUploadForms form").each(function() {
                    var elt = $(this);
                    var form = $(this)[0];
                    var data = new FormData(form);
                    $("#submitAllButton").prop("disabled", true);
                    $.ajax({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        url: $(elt).attr("action"),
                        data: data,
                        // prevent jQuery from automatically transforming the data into a query string
                        processData: false,
                        contentType: false,
                        cache: false,
                        timeout: 1000000,
                        success: function(data, textStatus, jqXHR) {
                            $("#result").append(data);
                            $("#submitAllButton").prop("disabled", false);
                            $(elt)[0].reset();
                                  showNotif("Fichier de la transaction enregistre avec succes . Vous allez etre redirige vers vos transactions ", "success", 5000);
                              // setTimeout(window.location.href = '/transactions', 200000);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $("#result").html(jqXHR.responseText);
                            console.log("ERROR : ", jqXHR.responseText);
                            $("#submitAllButton").prop("disabled", false);
                        }
                    })
                })
              hideLoader();
               }
            });

            function validateForm() {

  // get all the required input elements
  const requiredFields = document.querySelectorAll('input[type="file"][required]');

  for (let i = 0; i < requiredFields.length; i++) {
    const field = requiredFields[i];

    if (field.value==='') {
      showNotif("Veuillez remplir tous les champs d'importation de documents obligatoires ", "danger", 5000);
      return true;
    }
  }

  return false;
}

function showLoader() {
  document.getElementById("loader").style.display = "block";
}

function hideLoader() {
  document.getElementById("loader").style.display = "none";
}


    </script>
    <script>
    function toggleInputDisplay(checkbox) {
        var inputId = 'input-' + checkbox.id.substring(checkbox.id.indexOf('-') + 1);
        let input = document.getElementById(inputId);
        if (!checkbox.checked) {
            input.style.display = 'block';
            input.setAttribute("required", true);
            input.required = true;
        } else {
             input.removeAttribute("required");
             input.required = false;
             input.value = "";
            input.style.display = 'none';
        }
    }

    </script>
    <!-- JavaScript code to select all checkboxes on click of "select all" checkbox -->
    <script>
  let selectAllCheckbox = document.getElementById("select-all");
  selectAllCheckbox.addEventListener("click", function() {
    // Get all other checkboxes on the page
    let checkboxes = document.querySelectorAll('input[type="checkbox"]:not(#select-all)');
    checkboxes.forEach(function(checkbox) {
      checkbox.checked = selectAllCheckbox.checked;
      toggleInputDisplay(checkbox);
    });
  });
</script>

</th:block>


</html>